<div class="container bg-dark my-4 py-5">
<h1 class="text-white pb-3 text-center">Alle Gespräche</h1>
<%= link_to 'Kalendar', root_path, class:'links' %>

<% @events.each do |event| %>
<ul class="list-group text-center w-50 m-auto">
  <li class="list-group-item"><strong>Termin: </strong>
    (<%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Are you sure?' } %>)
  </li>
  <li class="list-group-item">Praxis: <strong><%= event.praxis %></strong></li>
  <li class="list-group-item">Doktor: <strong><%= event.doctor %></strong></li>
  <li class="list-group-item">Adresse: <strong><%= event.address %></strong></li>
  <li class="list-group-item">Website: <strong><%= event.website %></strong></li>
  <li class="list-group-item">Uhrzeit: <strong><%= event.start_at %> - <%= event.end_at %></strong></li>
</ul>
<% end %>
</div>
