<div class="container bg-light my-5">
  <h1 class="text-center pt-5">Victors</h1>
  <div class="jzdbox1 jzdbasf jzdcal">
  <div class="jzdcalt"><%= @currentdate.strftime("%B %Y") %></div>

  <span>Mo</span>
  <span>Di</span>
  <span>Mi</span>
  <span>Do</span>
  <span>Fr</span>
  <span>Sa</span>
  <span>So</span>
  <% if @dates.first.wday == "Monday" %>
    <% counter = 1  %>
    <%  while counter <= @days  %>
    <span><%= counter %></span>
      <%  counter += 1 %>
    <%  end  %>
  <% elsif @dates.first.wday == "Tuesday" %>
      <span class="jzdb"><!--BLANK--></span>
    <% counter = 1  %>
    <%  while counter <= @days  %>
    <span><%= counter %></span>
      <%  counter += 1 %>
    <%  end  %>
  <% elsif @dates.first.wday == "Wednesday"%>
    <span class="jzdb"><!--BLANK--></span>
    <span class="jzdb"><!--BLANK--></span>
    <% counter = 1  %>
    <%  while counter <= @days  %>
    <span><%= counter %></span>
      <%  counter += 1 %>
    <%  end  %>
  <% elsif @dates.first.wday == "Thursday" %>
    <span class="jzdb"><!--BLANK--></span>
    <span class="jzdb"><!--BLANK--></span>
    <span class="jzdb"><!--BLANK--></span>
    <% counter = 1  %>
    <%  while counter <= @days  %>
    <span><%= counter %></span>
      <%  counter += 1 %>
    <%  end  %>
  <% elsif @dates.first.wday == 6 %>
    <span class="jzdb"><!--BLANK--></span>
    <span class="jzdb"><!--BLANK--></span>
    <span class="jzdb"><!--BLANK--></span>
    <span class="jzdb"><!--BLANK--></span>
    <span class="jzdb"><!--BLANK--></span>
    <% counter = 1  %>
    <%  while counter <= @days  %>
    <span><%= counter %></span>
      <%  counter += 1 %>
    <%  end  %>
  <% end %>
  <span class="jzdb"><!--BLANK--></span>
  <span class="jzdb"><!--BLANK--></span>
  <span class="jzdb"><!--BLANK--></span>
  <span class="jzdb"><!--BLANK--></span>
  <span class="jzdb"><!--BLANK--></span>
  <span class="jzdb"><!--BLANK--></span>
  </div>
</div>


<script>
const dates = getDaysInMonth();
dates.forEach((date) => {
  return date.toString();
});
</script>

